:root{
    --brown: brown;
    --grey_light: #3f3e3e;
    --grey_dark: #2e2e2e;
    --bg_color_main: #f5f4f4;
}

body {
    width:87.5%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f5f4f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=button], button {
    background-color: #3f3e3e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=button]:hover, button:hover {
    opacity: 0.8;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

ul.side_menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 150px;
    background-color: #2e2e2e;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 0px 5px 0.01px;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content{
    display:none;
    margin-left:32px;
}

.dropdown-content a{
    font-size:16px;
}

li a{
    margin: 0;
    display: block;
    padding: 8px 16px 12px 10px;
    font-size: 21px;
    cursor: pointer;
    color:antiquewhite;
}

li a:hover:not(.active){
    background-color: darkgrey;
}

li a.active{
    background-color:brown;
    
}

#main{
    margin-left: 150px;
    padding: 16px;
    width: 100%;
}

#search_button{
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--brown);
}

#search_button img{
    color: var(--brown);
    width: 34px;
    height: 34px;
}

#top_bar{
    position: absolute;
    margin-right: 0px;
    right: 2.5%;
    top: 0.25%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

#top_bar input[type="text"]{
    height: 10%;
    width: 70%;
    z-index: -2;
}

.post{
    padding: 10px 64px 10px 64px;
    border: 2px solid rgb(231, 231, 231);
    box-shadow:  0 6px 4px -4px black;
}

a{
    text-decoration: none;
}