h1 {
    font-size: 50px;
    text-align: center;
}

#login {
    background-color: #fefefe;
    display: none;
    /* margin: 5% auto 0% 20%;  */
    border: 1px solid #888;
    width: 30%;
    left: 35%;
    top: 5%;
    position:fixed;
    z-index: 1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea{
    width: 70%;
    height: 80%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    background-color:#f1f1f1
}

#login_button{
    width: auto;
}

#cancel_button {
    width: 20%;
    /*padding: 10px 18px;*/
    background-color: var(--brown);
}

span.psw {
    float: right;
    padding-top: 18px;
}

#create_post_button{
    position: fixed;
    right:2.5%;
    bottom: 5%;
    display:none;
    width: 75px;
    height: 75px;
    padding:13px;
    background-color:brown;
    border-radius: 50%;
}
#create_post_button img{
    height: 50px;  
    width: 50px;
}

#post_form_container {
    background-color: #fefefe;
    display: none;
    padding: 16px;
    /* margin: 5% auto 0% 20%;  */
    border: 1px solid #888;
    width: 30%;
    left: 35%;
    top: 5%;
    position:fixed;
    z-index: 1;
}

#new_posts_header{
    display: none;
    text-align: center;
}