select{
    width: 15%;
    height: 40px;
    left: 85%;
}

.filter_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
}

.filter_container button{
    width: 8%;
}

